extends _base
append head
  :inject(file="main.styl")
  script.
    var filesystem = !{JSON.stringify(src['filesystem.yml'])};
append body
  .console
    pre#lines
    .prompt 
      span(role='textbox' contenteditable='true' autofocus='true')#entry
  :inject(file="yummy.coffee")

