extends _base
append head
  :inject(file="main.styl")
  script.
    var filesystem = !{JSON.stringify(src['filesystem.yml'])};
append body
  .console
    pre#lines
      span █████                               ██████      ██ 
      span ░░███                              ███░░░░███  ░░░  
      span  ░███         ██████   ██████     ███    ░░███ ████ 
      span  ░███        ███░░███ ███░░███   ░███     ░███░░███ 
      span  ░███       ░███████ ░███ ░███   ░███   ██░███ ░███ 
      span  ░███      █░███░░░  ░███ ░███   ░░███ ░░████  ░███ 
      span  ███████████░░██████ ░░██████     ░░░██████░██ █████
      span ░░░░░░░░░░░  ░░░░░░   ░░░░░░        ░░░░░░ ░░ ░░░░░ 
      br
      span Hi there! I'm a computer engineering student at the University of Waterloo.
      span &emsp;
      span

      span Welcome to my page.
      span I'm Leo Qi, a computer engineering student at the University of Waterloo.
      span I'm interested in how computers work for people.
      span * Interdisciplinary projects with a computational component.
      span * Embedded devices and time-series data analysis
      span * Website and app development for organizationsa nd experiments
      span * Human interface design and UI implementation
      span &emsp;
      span Please reach out if you've landed here! Whether it's a quick chat or email,
      span I always enjoy meeting new people and am actively looking for projects where I can make a big impact.
      span
        a(href="https://www.google.com") what's up!
      br
    .prompt 
      span(role='textbox' contenteditable='true' autofocus='true')#entry
  :inject(file="yummy.coffee")

