extends _base
append head
  :inject(file="main.styl")
append body
  .console
    pre
      span ██╗     ███████╗ ██████╗ ███████╗ ██████╗ ██╗    ██████╗ ██████╗ ███╗   ███╗
      span ██║     ██╔════╝██╔═══██╗╚══███╔╝██╔═══██╗██║   ██╔════╝██╔═══██╗████╗ ████║
      span ██║     █████╗  ██║   ██║  ███╔╝ ██║   ██║██║   ██║     ██║   ██║██╔████╔██║
      span ██║     ██╔══╝  ██║   ██║ ███╔╝  ██║▄▄ ██║██║   ██║     ██║   ██║██║╚██╔╝██║
      span ███████╗███████╗╚██████╔╝███████╗╚██████╔╝██║██╗╚██████╗╚██████╔╝██║ ╚═╝ ██║
      span ╚══════╝╚══════╝ ╚═════╝ ╚══════╝ ╚══▀▀═╝ ╚═╝╚═╝ ╚═════╝ ╚═════╝ ╚═╝     ╚═╝
      span Connected to who knows where ...
      span
    .prompt 
      span#entry

