extends _base
append head
  :inject(file="main.styl")
append body
  .console
    pre
      span █████                               ██████      ██ 
      span ░░███                              ███░░░░███  ░░░  
      span  ░███         ██████   ██████     ███    ░░███ ████ 
      span  ░███        ███░░███ ███░░███   ░███     ░███░░███ 
      span  ░███       ░███████ ░███ ░███   ░███   ██░███ ░███ 
      span  ░███      █░███░░░  ░███ ░███   ░░███ ░░████  ░███ 
      span  ███████████░░██████ ░░██████     ░░░██████░██ █████
      span ░░░░░░░░░░░  ░░░░░░   ░░░░░░        ░░░░░░ ░░ ░░░░░ 
      br
      span Connected to who knows where ...
      br
      code Hello there!
    .prompt 
      span(role='textbox' contenteditable='true')#entry
  :inject(file="yummy.coffee")

