html
  background-color: black

body  
  margin: 0
  padding: 80px

textarea
  all: unset

.console
  color: #c8c8c8
  font: 0.8rem Inconsolata, monospace
  text-shadow: 0 0 5px #C8C8C8

  pre
    span
      display: block
      margin-top: 0.1rem
    code
      display: block
      margin-top: 0.1rem
    code::before
      content: "~ $"
      color: #16F529
      width: 3em
      display: inline-block
      padding-left: auto
      margin-left: auto

  .prompt
    textarea
      width: 80%

  .prompt:before
      content: "~ $"
      color: #16F529
      width: 2.4em
      display: inline-block
      padding-left: auto
      margin-left: auto

#entry::after
  display: inline-block
  content: "_"
  background-color: white
  -webkit-animation: blink 1s step-end infinite
  animation: blink 1s step-end infinite

@-webkit-keyframes blink
  0%
    opacity: 1.0
  50%
    opacity: 0.0
  100%
    opacity: 1.0

@keyframes blink
  0%
    opacity: 1.0
  50%
    opacity: 0.0
  100%
    opacity: 1.0

.console:after
  pointer-events: none
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: repeating-linear-gradient(0deg, rgba(black, 0.15), rgba(black, 0.15) 1px, transparent 1px, transparent 2px)
  z-index: 2

//.console::selection
//  background: #0080ff
//  text-shadow: none

