html
  background-color: black

body  
  margin: 0
  padding: 80px

span
  all: unset

a
  all: unset

.console
  color: #c8c8c8
  font: 0.8rem Inconsolata, monospace
  text-shadow: 0 0 5px #C8C8C8

  pre
    margin: 0
    padding: 0
    span
      display: block
    code
      display: block
      margin-top: 0.1rem
    code::before
      content: "~ $"
      color: #16F529
      width: 3em
      display: inline-block
      padding-left: auto
      margin-left: auto
    a
      font: 0.8rem Inconsolata, monospace
      text-decoration: underline
      cursor: pointer
  .prompt
    color: #c8c8c8
    margin-top: 0.1rem
    #entry
      caret-color: black
      width: 90%

    #entry::after
      content: "_"
      background-color: white
      -webkit-animation: blink 1s step-end infinite
      animation: blink 1s step-end infinite

  .prompt:before
    content: "~ $"
    color: #16F529
    width: 2.4em
    display: inline-block
    padding-left: auto
    margin-left: auto
@-webkit-keyframes blink
  0%
    opacity: 1.0
  50%
    opacity: 0.0
  100%
    opacity: 1.0

@keyframes blink
  0%
    opacity: 1.0
  50%
    opacity: 0.0
  100%
    opacity: 1.0

.console:after
  pointer-events: none
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  )
  z-index: 2

::selection
  background: #0080ff
  text-shadow: none

